*

!.gitignore

!background.png
!me.png
!adminpage.png
!bookedreservation.png
!chefbotinterface.png
!chefbotmenu.png
!chefbotstartup.png
!login.png
!mainpage.png
!memberdirectory.png
!researchdemonstration.png
!setupforresearch.png
!login1.png
!reservations.png
!admin.png
!email.png
!github.png
!linkedin.png
